<p id="notice"><%= notice %></p>

<p>
  <strong>Title of Video Game:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Review:</strong>
  <%= @project.description %>
</p>

<%= button_to 'Edit Review', edit_project_path(@project), method:"get" %> 
<%= button_to 'Back', projects_path, method:"get" %>
